 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666666;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #resultado {
    margin-top: 20px;
    text-align: center;
  }
  
  #resultado img {
    max-width: 100%;
    height: auto;
  }
